<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>kaspi website</title>
  </head>
  <body>
    <header class="header">
      <div class="header_inner">
        <div class="mount_search_bar">
          <div id="searchComponent">
            <form action="." class="search_bar">
              <a href="http://localhost:4200/" class="search_bar_logo"
                >Магазин</a
              >
              <div class="search_bar_wrapper">
                <input
                  class="search_bar_input"
                  type="search"
                  placeholder="Поиск товара"
                  data-no-validation="data-no-validation"
                  maxlength="256"
                />
                <button class="search_bar_submit button">
                  <span class="icon _small _search"></span>
                </button>
              </div>
            </form>
          </div>
        </div>
        <div id="citySelector" class="current_location">
          <div id="citySelector" class="current_location">
            <div>Мой город:</div>
            <span class="current_location_city">Алматы</span>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>
