<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>kaspi website</title>
  </head>
  <body>
    <div class="mount_topbar">
      <header class="topbar">
        <div class="topbar_wrapper">
          <a class="topbar_logo">
            <img class="kaspi_logo" src="../assets/kaspi_logo.svg" alt="logo" />
          </a>
          <nav class="topbar_nav">
            <li>
              <a class="topbar_nav_link">Клиентам</a>
            </li>
            <li>
              <a class="topbar_nav_link">Бизнесу</a>
            </li>
            <li>
              <a class="topbar_nav_link">Kaspi Гид</a>
            </li>
          </nav>
          <div class="topbar_empty-right"></div>
        </div>
      </header>
    </div>
  </body>
</html>
