<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>kaspi website</title>
  </head>
  <body>
    <div class="mount_footer">
      <footer id="footer">
        <div class="footer">
          <div class="footer_section">
            <div class="footer_content">
              <div id="Products" class="vertical_menu">
                <span class="vertical_menu_title">Продукты Kaspi.kz</span>
                <ul class="vertical_menu_wrapper">
                  <li class="vertical_menu_item">
                    <a id="Gold" href="">Kaspi Gold</a>
                  </li>
                  <li class="vertical_menu_item">
                    <a id="Goldkid" href="">Kaspi Gold для ребенка</a>
                  </li>
                  <li class="vertical_menu_item">
                    <a id="Kaspired" href="">Kaspi Red</a>
                  </li>
                  <li class="vertical_menu_item">
                    <a id="Deposit" href="">Kaspi Депозит</a>
                  </li>
                  <li class="vertical_menu_item">
                    <a id="Shoppingcredit" href="">Кредит на Покупки</a>
                  </li>
                  <li class="vertical_menu_item">
                    <a id="CashCreditBiz" href="">Кредит для ИП</a>
                  </li>
                  <li class="vertical_menu_item">
                    <a id="Cashcredit" href="">Кредит наличными</a>
                  </li>
                </ul>
              </div>
              <div id="Services" class="vertical_menu">
                <span class="vertical_menu_title">Сервисы Kaspi.kz</span>
                <ul class="vertical_menu_wrapper">
                  <li class="vertical_menu_item">
                    <a id="Shop" href="">Магазин</a>
                  </li>
                  <li class="vertical_menu_item">
                    <a id="KaspiTravel" href="">Travel</a>
                  </li>
                  <li class="vertical_menu_item">
                    <a id="Payments" href="">Платежи</a>
                  </li>
                  <li class="vertical_menu_item">
                    <a id="MyBank" href="">Мой банк</a>
                  </li>
                  <li class="vertical_menu_item">
                    <a id="Transfers" href="">Переводы</a>
                  </li>
                  <li class="vertical_menu_item">
                    <a id="Actions" href="">Акции</a>
                  </li>
                  <li class="vertical_menu_item">
                    <a id="Gos" href="">Госуслуги</a>
                  </li>
                  <li class="vertical_menu_item">
                    <a id="Announcements" href="">Объявления</a>
                  </li>
                  <li class="vertical_menu_item">
                    <a id="Guide" href="">Kaspi Гид</a>
                  </li>
                </ul>
              </div>
              <div id="Business" class="vertical_menu">
                <span class="vertical_menu_title">Для Бизнеса</span>
                <ul class="vertical_menu_wrapper">
                  <li class="vertical_menu_item">
                    <a id="KaspiPay" href="">Kaspi Pay</a>
                  </li>
                  <li class="vertical_menu_item">
                    <a id="BizCredit" href="">Бизнес Кредит</a>
                  </li>
                  <li class="vertical_menu_item">
                    <a id="CashCreditBiz" href="">Кредит для ИП</a>
                  </li>
                  <li class="vertical_menu_item">
                    <a id="Merchant" href=""
                      >Продавать в Интернет-магазине на Kaspi.kz</a
                    >
                  </li>
                  <li class="vertical_menu_item">
                    <a id="Webpay" href="">Принимать платежи с Kaspi.kz</a>
                  </li>

                  <li class="vertical_menu_item">
                    <a id="GuidePartners" href="">Kaspi Гид</a>
                  </li>

                  <li class="vertical_menu_item">
                    <a id="MerchantCabinet" href="">Кабинет продавца</a>
                  </li>
                </ul>
              </div>
              <div id="Others" class="vertical_menu">
                <span class="vertical_menu_title"
                  >9999 Бесплатно с мобильного</span
                >
                <ul class="vertical_menu_wrapper">
                  <li class="vertical_menu_item">
                    <a id="UserAgreement" href=""
                      >Пользовательское соглашение</a
                    >
                  </li>
                  <li class="vertical_menu_item">
                    <a id="JobKaspi" href="">Вакансии</a>
                  </li>
                  <li class="vertical_menu_item">
                    <a id="InvestorRelations" href="">Investor Relations</a>
                  </li>
                  <li class="vertical_menu_item">
                    <a id="BankServicesOffer" href="">Договор присоединения</a>
                  </li>
                  <li class="vertical_menu_item">
                    <a id="DeliveryAgreement" href=""
                      >Договор по оказанию услуги доставки</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="footer2">
          <div class="footer2_wrapper">
            <div class="footer2_section">
              <div class="footer2_left">
                <div class="footer2_left_copyright">
                  © 2012-2023, ТОО «Kaspi Магазин»
                </div>
                <div class="footer2_left_license">
                  Все товарные знаки, размещённые на сайте, являются товарными
                  знаками правообладателя и используются на сайте исключительно
                  в информационных целях
                </div>
                <a href="" class="footer2_left_title">Корпоративный сайт</a>
              </div>
              <div class="footer2_right">
                <div class="social_media">
                  <a target="_blank" href="" class="social_media_item">
                    <img
                      src="/angular-website/kaspi-website/src/assets/instagram_icon.svg"
                      alt="instagram"
                    />
                  </a>
                  <a target="_blank" href="" class="social_media_item">
                    <img
                      src="/angular-website/kaspi-website/src/assets/youtube_icon.svg"
                      alt="youtube"
                    />
                  </a>
                  <a target="_blank" href="" class="social_media_item">
                    <img
                      src="/angular-website/kaspi-website/src/assets/telegram_icon.svg"
                      alt="telegram"
                    />
                  </a>
                  <a target="_blank" href="" class="social_media_item">
                    <img
                      src="/angular-website/kaspi-website/src/assets/facebook_icon.svg"
                      alt="facebook"
                    />
                  </a>
                  <a target="_blank" href="" class="social_media_item">
                    <img
                      src="/angular-website/kaspi-website/src/assets/twitter_icon.svg"
                      alt="twitter"
                    />
                  </a>
                  <a target="_blank" href="" class="social_media_item">
                    <img
                      src="/angular-website/kaspi-website/src/assets/VK_icon.svg"
                      alt="VK"
                    />
                  </a>
                  <a target="_blank" href="" class="social_media_item">
                    <img
                      src="/angular-website/kaspi-website/src/assets/OK_icon.svg"
                      alt="OK"
                    />
                  </a>
                  <a target="_blank" href="" class="social_media_item">
                    <img
                      src="/angular-website/kaspi-website/src/assets/LinkedIn_Icon.svg"
                      alt="LinkedIn"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
