<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>kaspi website</title>
  </head>
  <body>
    <div class="mount_topbar">
      <header class="topbar">
        <div class="topbar_wrapper">
          <a class="topbar_logo">
            <img class="kaspi_logo" src="../assets/kaspi_logo.svg" alt="logo" />
          </a>
          <nav class="topbar_nav">
            <li>
              <a class="topbar_nav_link">Клиентам</a>
            </li>
            <li>
              <a class="topbar_nav_link">Бизнесу</a>
            </li>
            <li>
              <a class="topbar_nav_link">Kaspi Гид</a>
            </li>
          </nav>
          <div class="topbar_empty-right"></div>
        </div>
      </header>
    </div>
    <header class="header">
      <div class="header_inner">
        <div class="mount_search_bar">
          <div id="searchComponent">
            <form action="." class="search_bar">
              <a href="http://localhost:4200/" class="search_bar_logo"
                >Магазин</a
              >
              <div class="search_bar_wrapper">
                <input
                  class="search_bar_input"
                  type="search"
                  placeholder="Поиск товара"
                  data-no-validation="data-no-validation"
                  maxlength="256"
                />
                <button class="search_bar_submit button">
                  <span class="icon _small _search"></span>
                </button>
              </div>
            </form>
          </div>
        </div>
        <div id="citySelector" class="current_location">
          <div id="citySelector" class="current_location">
            <div>Мой город:</div>
            <span class="current_location_city">Алматы</span>
          </div>
        </div>
      </div>
    </header>
    <div class="mount_nav">
      <nav class="nav">
        <div class="nav_inner g_hidden">
          <ul class="nav_list">
            <li class="nav_item">
              <a href="" class="nav_item_link">
                <span class="nav_item_link_text">Все категории</span>
              </a>
            </li>
            <li class="nav_item">
              <a href="" class="nav_item_link">
                <span class="nav_item_link_text">Телефоны и Гаджеты</span>
              </a>
            </li>
            <li class="nav_item">
              <a href="" class="nav_item_link">
                <span class="nav_item_link_text">Бытовая Техника</span>
              </a>
            </li>
            <li class="nav_item">
              <a href="" class="nav_item_link">
                <span class="nav_item_link_text">ТВ, Аудио, Видео</span>
              </a>
            </li>
            <li class="nav_item">
              <a href="" class="nav_item_link">
                <span class="nav_item_link_text">Компьютеры</span>
              </a>
            </li>
            <li class="nav_item">
              <a href="" class="nav_item_link">
                <span class="nav_item_link_text">Мебель</span>
              </a>
            </li>
            <li class="nav_item">
              <a href="" class="nav_item_link">
                <span class="nav_item_link_text">Красота, Здоровье</span>
              </a>
            </li>
            <li class="nav_item">
              <a href="" class="nav_item_link">
                <span class="nav_item_link_text">Детские Товары</span>
              </a>
            </li>
            <li class="nav_item">
              <a href="" class="nav_item_link">
                <span class="nav_item_link_text">Аптека</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="mount_main_page">
      <div class="main_page">
        <div id="MainSliderComponent" class="main_slider swiper">
          <div class="swiper_wrapper">
            <div class="swiper_slide" style="background: rgb(241, 70, 53)">
              <a href="" class="main_slider_slide_link">
                <img
                  src="../assets/desktop-main-slider.png"
                  alt="mobile app banner"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<!-- Разделить каждый элемент сайта в отдельный компонент, собрать их все по порядку в app.component.html -->
