html {
  box-sizing: border-box;
  background-color: #ffffff;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  opacity: 1;
  transition: opacity 0.3s;
}
.item__heading,
div,
h1,
h2,
h3,
h4,
h5,
h6,
label,
p,
span {
  background: url(/angular-website/kaspi-website/src/assets/bg_for_divs_kaspi.gif);
}
a {
  cursor: pointer;
  text-decoration: none;
}
.link,
a {
  color: #0089d0;
}
a:active,
a:hover {
  outline: 0;
}
input[type="date"],
input[type="datetime-local"],
input[type="datetime"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea {
  width: 285px;
  margin: 0 7px 0 0;
}

.nav {
  border-bottom: 1px solid #e5e5e5;
  background: #fff;
  position: relative;
}
.nav_inner {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  margin-bottom: 0;
}
.nav_inner:after,
.nav_inner:before {
  display: table;
  content: " ";
}
.nav_inner:after {
  clear: both;
}
.g_hidden {
  overflow: hidden;
}
.nav_list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: table;
  width: 960px;
  overflow: hidden;
}
.nav_item {
  flex: none;
  text-align: center;
  height: 63px;
  position: relative;
  display: table-cell;
  border-right: 1px solid #e5e5e5;
}
.nav_item:first-child {
  border-left: 1px solid #e5e5e5;
  min-width: 140px;
}
.nav_item_link {
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  line-height: 63px;
  height: 63px;
}
.nav_item_link_text {
  display: inline-block;
  padding: 0 10px;
  vertical-align: middle;
  margin-top: -3px;
  font-size: 14px;
  line-height: 1.2;
}
